body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  .quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
  }
  
  .quote {
    font-style: italic;
    color: rgb(144, 61, 61);
  }
  
  .author {
    font-weight: bold;
    text-align: right;
    color: rgb(144, 61, 61);
  }
  
  .author::before {
    content: " - ";
  }

  header {
    flex: 0 80px;
    background-color: rgb(144, 61, 61);
    menu a {
      justify-content: left; 
      padding: 10px;
      color: #ff9090;}
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    p {
      color: white;
      text-align: center;
      align-items: center;
    }
    background-image: url('bowlingBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  footer {
    flex: 0 30px;
    background-color: rgb(144, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    padding: 10px;
    color: #ff9090;
  }
  @media (max-height: 600px) {
    header {
      flex: 1;
    }
    footer {
      flex: 1;
    }
    main {
      flex: 1 100vh;
    }
  
  }
  
 
